extends index

block afterNav

  .page-header
    h1 Log In to #{config.name}
  div
    form.form-horizontal(action='/login', method='POST')
      .form-group
        label.control-label(for='username')
        input(type='text', name='username', placeholder='username', autofocus)
      .form-group
        label.control-label(for='password')
        input(type='password', name='password', placeholder='password')
      .form-group
        div.controls
          button.btn.btn-primary(type='submit', value='Log Me In!') Login
          | &nbsp;&nbsp;
          a(href='/register') Register
