extends index

block afterNav
  .page-header
    h1 Your Profile 
    .row
    form.form-horizontal(id='userInfo', action='', method='POST')
      .form-group
        label.control-label(for='name[first]') First Name &nbsp;
        input-large.uneditable-input #{user.name.first}
      .form-group
        label.control-label(for='name[last]') Last Name &nbsp;
        input-large.uneditable-input #{user.name.last}
      .form-group
        label.control-label(for='email') Email &nbsp;
        input-large.uneditable-input #{user.email}
      .form-group
        label.control-label(for='username') Username &nbsp;
        input-large.uneditable-input #{user.username}
    a(href='/logout').button.btn.btn-primary Logout